{% extends "base.html" %}
{% block title %}
Incollo.com - a free collaborative debugging tool - Search Paste
{% endblock %}

{% block center %}
    <div class="about">
        <h1>Report a Bug / Request a Feature</h1>
        You are welcome to use my <a href="http://dev.task3.cc/tracker/index.php?project=1">bug tracker</a> to report me
        everything you want. <br/>
        If there's something you would like to tell me via mail, then send it to: <img src="http://static.bd-things.net/Images/bodom_lx-e-mail.jpg" alt="bodom_lx e-mail" />
    </div>
{% endblock %}